body {
    margin: 0;
    background: url("../images/background.png");
    color: #fff;
}

* {
    font-family: 'Philosopher', sans-serif;
}

.content-wrapper {
    transition: opacity .5s ease;
    position: relative;
}

.content-wrapper.hide {
    opacity: 0;
    z-index: -1;
    height: 0;
}

.container {
    max-width: 1440px;
    padding: 0 40px 40px;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding: 10px 10px;
    background: blue;
    border-bottom: 1px solid red;
    background: rgba(0, 0, 0, .5);
}

.content-container {
    margin-top: 30px;
}

.content-wrapper {
    margin: 0 auto;
    text-align: center;
}

.content {
    padding: 50px;
    width: auto;
    background: rgba(0, 0, 0, .5);
    border-radius: 25px;
    box-shadow: inset 1px 1px 13px 0 #484848;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
}

.about-me,
.about-opponent {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 50%;
}

.name-title {
    margin-top: 10px;
}

.name {
    outline: none;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.years-title {
    margin-top: 10px;
}

.sex-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.select2-container--default .select2-results__option {
    color: #000;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: red;
}

.btn-wrapper {
    text-align: center;
    display: block;
    width: 100%;
}

.btn-find {
    margin: 15px auto 0;
    display: inline-block;
    width: auto;
    padding: 10px 25px;
    border: 2px solid #fff;
    position: relative;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    transition: color .2s ease;
}

.btn-find span {
    position: relative;
}

.btn-find::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: -100%;
    top: 0;
    transition: left .2s ease;
}

.btn-find:hover {
    color: #000;
}

.btn-find:active:before {
    //box-shadow: inset -1px -1px 12px 0px #000000;
}

.btn-find:hover::before {
    left: 0;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + span {
    padding: 10px;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .2s ease;
}

input[type="radio"] + span:hover {
    background-color: #fff;
    color: #000;
}

input[type="radio"]:checked + span{
    background-color: #000;
}

input[type="radio"]:checked + span:hover {
    color: #fff;
}

.images-container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
}

.images-container .image {
    height: 260px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 15px;
    transition: background-image .5s ease;
    flex: 1;
    margin: 0 10px;
}

.images-container .image.male {
    background-image: url("../images/male.png");
}

.images-container .image.female {
    background-image: url("../images/female.png");
}

.images-container .image.anonim {
    background-image: url("../images/anonim.png");
}

.about-me .title,
.about-opponent .title {
    font-size: 18px;
}

/* find */
.find-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 100;
    opacity: 1;
    transition: opacity .5s ease;
    border-radius: 25px;
}

.find-container.hide {
    opacity: 0;
    z-index: -1;
    height: 0;
}

.find-text {
    text-align: center;
    font-size: 24px;
    animation: find-text 1.5s alternate-reverse infinite;
}

@keyframes find-text {
    from {
        color: #fff;
    }

    to {
        color: blue;
    }
}

.btn-find-cancel {
    display: inline-block;
    margin: 20px auto 0;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.btn-find-cancel::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    border-top: 1px dashed;
    transition: width .2s ease;
}

.btn-find-cancel:hover::before {
    width: 0;
}



.cssload-container {
    position: relative;
    width: 195px;
    height: 195px;
    display:block;
    margin:49px auto;
    perspective: 975px;
    -o-perspective: 975px;
    -ms-perspective: 975px;
    -webkit-perspective: 975px;
    -moz-perspective: 975px;
    perspective: 975px;
    -o-perspective: 975px;
    -ms-perspective: 975px;
    -webkit-perspective: 975px;
    -moz-perspective: 975px;
    overflow: hidden;
}

.cube {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 29px;
    height: 29px;
    margin-left: -15px;
    margin-top: 0;
}

.cube-2d {
    background-color: rgb(255,255,255);
}
.cssload-arc {
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-left: -68px;
    width: 136px;
    height: 68px;
    overflow: hidden;
}

.cssload-arc-cube {
    position: absolute;
    bottom: -68px;
    left: 50%;
    margin-left: -68px;
    width: 136px;
    height: 136px;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: rgb(255,255,255);
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    animation: cssload-arc 2s ease-in-out infinite;
    -o-animation: cssload-arc 2s ease-in-out infinite;
    -ms-animation: cssload-arc 2s ease-in-out infinite;
    -webkit-animation: cssload-arc 2s ease-in-out infinite;
    -moz-animation: cssload-arc 2s ease-in-out infinite;
    transform: rotate(-200deg);
    -o-transform: rotate(-200deg);
    -ms-transform: rotate(-200deg);
    -webkit-transform: rotate(-200deg);
    -moz-transform: rotate(-200deg);
}

@keyframes cssload-arc {
    0% {
        border-width: 29px;
    }
    25% {
        border-width: 15px;
    }
    50% {
        transform: rotate(27deg);
        border-width: 29px;
    }
    75% {
        border-width: 15px;
    }
    100% {
        border-width: 29px;
    }
}

@-o-keyframes cssload-arc {
    0% {
        border-width: 29px;
    }
    25% {
        border-width: 15px;
    }
    50% {
        -o-transform: rotate(27deg);
        border-width: 29px;
    }
    75% {
        border-width: 15px;
    }
    100% {
        border-width: 29px;
    }
}

@-ms-keyframes cssload-arc {
    0% {
        border-width: 29px;
    }
    25% {
        border-width: 15px;
    }
    50% {
        -ms-transform: rotate(27deg);
        border-width: 29px;
    }
    75% {
        border-width: 15px;
    }
    100% {
        border-width: 29px;
    }
}

@-webkit-keyframes cssload-arc {
    0% {
        border-width: 29px;
    }
    25% {
        border-width: 15px;
    }
    50% {
        -webkit-transform: rotate(27deg);
        border-width: 29px;
    }
    75% {
        border-width: 15px;
    }
    100% {
        border-width: 29px;
    }
}

@-moz-keyframes cssload-arc {
    0% {
        border-width: 29px;
    }
    25% {
        border-width: 15px;
    }
    50% {
        -moz-transform: rotate(27deg);
        border-width: 29px;
    }
    75% {
        border-width: 15px;
    }
    100% {
        border-width: 29px;
    }
}

/* end find */


.chat-container {
    opacity: 1;
    transition: opacity .5s ease;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    position: relative;
    border-radius: 20px;
}

.chat-container.hide {
    opacity: 0;
    z-index: -1;
    height: 0;
    display: none;
}

.chat {
    box-shadow: inset 0 0 8px 2px #000;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 300px;
    overflow-y: auto;
}

.chat img:not(.chat-smile) {
    max-width: 100%;
    max-height: 300px;
    vertical-align: top;
    cursor: zoom-in;
}

.chat .chat-smile {
    width: 22px;
    height: 22px;
    cursor: default;
}

.exit {
    text-align: right;
    margin-bottom: 5px;
}

.exit img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.opponent-exit {
    margin-top: 10px;
    font-size: 20px;
}

.write-message-container {

}

.msg-container {
    margin-bottom: 10px;
}

.author-name {
    display: inline;
}

.msg-container.my .msg {
    color: #fff;
}

.msg-container.opponent .msg {
    color: red;
}

.msg {
    display: inline;

}

.write-message-container {
    position: relative;
}

.write-placeholder {
    position: absolute;
    left: 9px;
    top: 12px;
    opacity: .5;
}

.write-placeholder.hide {
    display: none;
}

.write-message {
    outline: none;
    border: none;
    box-shadow: inset 0 0 8px 2px #000;
    height: 70px;
    padding: 10px;
    overflow-y: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tools-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.tools-container > div {
    margin: 0 10px 10px;
    cursor: pointer;
    flex-shrink: 0;
}

.smile-container {
    display: inline-block;
    position: relative;
}

.smile-container:hover .smile-wrapper {
    display: block;
}

.smile-wrapper {
    width: 200px;
    height: 200px;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    display: none;
    z-index: 10;
}

.open-smile {
    width: 40px;
    height: 40px;
}

.smile {
    user-select: none;
    cursor: pointer;
    margin: 1px;
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    background: red;
}
.load-image {
    width: 40px;
    height: 40px;
}

.audio-msg {
    width: 40px;
    height: 40px;
}

.speak {
    width: 40px;
    height: 40px;
}

.load-file {
    display: none;
}

@media (max-width: 650px) {
    .about-me {
        width: 100%;
    }

    .about-opponent {
        margin-top: 30px;
        width: 100%;
    }

    .images-container {
        display: none;
    }

    .btn-find {
        margin-top: 30px;
    }

    .container {
        padding: 0;
    }
}