@import "../_var";

.chat {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 20px;
    background: var(--bg-block-color);
    border-radius: 25px;

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: end;
        height: 400px;
        padding: 20px;
        box-shadow: var(--chat-shadow);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-sizing: border-box;
        overflow-y: auto;
    }

    &__write-wrap {
        position: relative;
    }

    &__write {
        outline: none;
        border: none;
        box-shadow: var(--chat-shadow);
        height: 70px;
        padding: 10px;
        overflow-y: auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow-y: auto;
    }

    &__placeholder {
        position: absolute;
        left: 9px;
        top: 12px;
        opacity: .5;
    }

    &__tools {
        display: grid;
        grid-gap: var(--page-gutter);
        grid-template-columns: repeat(3, 40px);
        justify-content: center;
        margin-top: 15px;
    }

    &__tools-item {
        position: relative;
        width: 40px;
        height: 40px;
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;

        img {
            max-width: 100%;
        }
    }

    &__exit {
        width: 30px;
        margin-left: auto;
        margin-bottom: 5px;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        img {
            max-width: 100%;
        }
    }
}