@import "../_var";

.message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    flex-shrink: 0;

    &__name {
        padding-right: 10px;
    }

    &__content {
        color: var(--message-color);

        img {
            max-width: 100%;
        }

        > div br:only-child {
            display: none;
        }
    }

    &--my {
        .message {
            &__content {
                color: var(--text-color);
            }
        }
    }
}